In [359]:
import pandas as pd
csv_file="C:\\Users\\samantha.ettinger\\GWU-ARL-DATA-PT-12-2019-U-C\\02-Homework\\04-Pandas\\Instructions\\HeroesOfPymoli\\Resources\\purchase_data.csv"
df=pd.read_csv(csv_file)
# df=pd.DataFrame(df)+
# print(df)

In [360]:
df1=df.loc[:,["SN","Age","Gender"]]
df1=df1.drop_duplicates()
total_players=df1.count()[0]
print(total_players)
df_unique_players=pd.DataFrame({"total_players":[total_players]})
df_unique_players

576

   total_players
0            576

In [361]:
number_of_unique_items=len(df["Item ID"].unique())
# print(number_of_unique_items)

In [362]:
average_purchase_price=df["Price"].mean()

In [363]:
import numpy as np
aver=np.round(average_purchase_price, decimals=2)
average_purch="$"+str(aver)

In [364]:
total_number_purchases=len(df)
# print(total_number_purchases)

In [365]:
total_revenue=df["Price"].sum()
# print(total_revenue)
total_rev="$"+str(total_revenue)
# print(total_rev)

In [366]:
frame_df = pd.DataFrame({
    "Number of Unique Items": [(number_of_unique_items)],
    "Average Purchase Price": [(average_purch)],
    "Total Number of Purchases":[(total_number_purchases)],
    "Total Revenue":[(total_rev)]
    
    
})
frame_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [367]:
#Gender Demographics

only_men = df1.loc[df["Gender"] == "Male", :]
# print(len(only_men))
percentage_only_men=np.round(len(only_men)/len(df)*100,decimals=2)
# print(percentage_only_men)

only_women=df1.loc[df["Gender"]== "Female", :]
# print(len(only_women))
percentage_only_women=np.round(len(only_women)/len(df)*100,decimals=2)
# print(percentage_only_women)

other=df1.loc[df["Gender"]== "Other / Non-Disclosed", :]
# print(len(other))
percentage_other_non_disclosed=np.round(len(other)/len(df)*100,decimals=2)
# print(percentage_other_non_disclosed)

In [369]:
gender_df = pd.DataFrame(
    {"Gender": ["Male", "Female","Other / Non-Disclosed"],
     "Total Count": [len(only_men), len(only_women),len(other)],
     "Percentage": [str(percentage_only_men)+"%",str(percentage_only_women)+"%",str(percentage_other_non_disclosed)+"%"]}
)

In [370]:
reindexed_df = gender_df.set_index("Gender")
reindexed_df.head()

                       Total Count Percentage
Gender
Male                           484     62.05%
Female                          81     10.38%
Other / Non-Disclosed           11      1.41%

In [371]:
#Purchasing Analysis
purchase_count_men = df.loc[df["Gender"] == "Male", :]
# print(len(purchase_count_men))

In [372]:
purchase_count_women = df.loc[df["Gender"] == "Female", :]
# print(len(purchase_count_women))

In [373]:
purchase_count_other=df.loc[df["Gender"]=="Other / Non-Disclosed", :]
# print(len(purchase_count_other))

In [374]:
avg_purchase_price_men = df.loc[df["Gender"] == "Male", ["Price"]].mean()
avg_purchase_price_men="$"+str(np.round(avg_purchase_price_men, decimals=2).item())
# print(avg_purchase_price_men)
total_purchase_price_men="$"+str(df.loc[df["Gender"] =="Male", ["Price"]].sum().item())
# print(total_purchase_price_men)

C:\Users\samantha.ettinger\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `item` has been deprecated and will be removed in a future version

C:\Users\samantha.ettinger\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: `item` has been deprecated and will be removed in a future version
  after removing the cwd from sys.path.

In [375]:
avg_purchase_price_women= df.loc[df["Gender"]=="Female", ["Price"]].mean()
avg_purchase_price_women="$"+str(np.round(avg_purchase_price_women, decimals=2).item())
# print(avg_purchase_price_women)
total_purchase_price_women="$"+str(df.loc[df["Gender"] =="Female", ["Price"]].sum().item())
# print(total_purchase_price_women)

C:\Users\samantha.ettinger\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `item` has been deprecated and will be removed in a future version

C:\Users\samantha.ettinger\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: `item` has been deprecated and will be removed in a future version
  after removing the cwd from sys.path.

In [376]:
avg_purchase_price_other=df.loc[df["Gender"]=="Other / Non-Disclosed", ["Price"]].mean()
avg_purchase_price_other="$"+str(np.round(avg_purchase_price_other, decimals=2).item())
total_purchase_price_other="$"+str(df.loc[df["Gender"] =="Other / Non-Disclosed", ["Price"]].sum().item())

# print(avg_purchase_price_other)
# print(total_purchase_price_other)

C:\Users\samantha.ettinger\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `item` has been deprecated and will be removed in a future version

C:\Users\samantha.ettinger\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: `item` has been deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

In [379]:
# df5 = df["SN"].value_counts()
# df5

# grouped_df = df.groupby(["SN"])
# # print(grouped_df)

# (grouped_df).count().head(20)
#  df.groupby('Gender', as_index=False).mean()
# len(grouped_df)

In [380]:
total_count=df.groupby(["Gender"]).count()["Price"]
total_count

avg_price_gender=df.groupby(["Gender"]).mean()["Price"]
# avg_price_gender="$"+str(avg_price_gender)

total_price_gender=df.groupby(["Gender"]).sum()["Price"]
# total_price_gender="$"+str(total_price_gender)

price_per_person=total_price_gender/reindexed_df["Total Count"]
price_per_person

df_purchase_analysis=pd.DataFrame({"Purchase Count":total_count,"Average Purchase Price":avg_price_gender,
                                   "Total Purchase Value":total_price_gender,"Avg Total Purchase per Person":price_per_person})

df_purchase_analysis["Average Purchase Price"] = df_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
df_purchase_analysis["Total Purchase Value"] = df_purchase_analysis["Total Purchase Value"].map("${:.2f}".format)
df_purchase_analysis["Avg Total Purchase per Person"] = df_purchase_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
df_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [381]:


age_demo= [0,9,14,19,24,29,34,39,100]
# print(age_demo)
names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [382]:
df1["Age Summary"] = pd.cut(df1["Age"],age_demo,labels=names)

In [383]:
age_counts =df1.groupby(["Age Summary"])
age_counts.count()
age_counts_df=age_counts[["SN"]]
ak=age_counts_df.count()
# print(ak)
ak3=ak["SN"]/len(df1)*100
# print(ak3)

# perc=age_counts_df/len(df1)

In [384]:
merge_table = pd.merge(ak, ak3, on="Age Summary")

In [385]:
renamed_merge=merge_table.rename(columns={"SN_x":"Total Count", "SN_y":"Percentage of Players"})
renamed_merge
renamed_merge["Percentage of Players"] = renamed_merge["Percentage of Players"].map("{0:.2f}%".format)
renamed_merge

             Total Count Percentage of Players
Age Summary
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

In [386]:
merge_table_3 = pd.merge(df, df1, on="SN")

In [388]:
purchase_by_group_mean=merge_table_3.groupby(["Age Summary"]).mean()["Price"]
# print(purchase_by_group_mean)

In [389]:
purchase_by_group_sum=merge_table_3.groupby(["Age Summary"]).sum()["Price"]
# purchase_by_group_sum

In [390]:
purchase_by_group_count=merge_table_3.groupby(["Age Summary"]).count()["Price"]
# purchase_by_group_count

In [391]:
price_per_age=np.round(purchase_by_group_sum/renamed_merge["Total Count"],decimals=2)
# price_per_age

In [392]:
df_age_analysis=pd.DataFrame({"Purchase Count":purchase_by_group_count,"Average Purchase Price":purchase_by_group_mean,
                                   "Total Purchase Value":purchase_by_group_sum,"Avg Total Purchase per Person":price_per_age})

df_age_analysis["Average Purchase Price"] = df_age_analysis["Average Purchase Price"].map("${:.2f}".format)
df_age_analysis["Total Purchase Value"]=df_age_analysis["Total Purchase Value"].map("${:.2f}".format)
df_age_analysis["Avg Total Purchase per Person"]=df_age_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
df_age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [393]:
purchase_by_SN_count=df.groupby(["SN"]).count()["Price"]
# purchase_by_SN_count

In [394]:
purchase_by_SN_mean=df.groupby(["SN"]).mean()["Price"]
# purchase_by_SN_mean

In [395]:
purchase_by_SN_sum=df.groupby(["SN"]).sum()["Price"]
# purchase_by_SN_sum

In [396]:
df_SN_analysis=pd.DataFrame({"Purchase Count":purchase_by_SN_count,"Average Purchase Price":purchase_by_SN_mean,
                                   "Total Purchase Value":purchase_by_SN_sum})
# df_SN_analysis

In [398]:
SN_df =df_SN_analysis.sort_values("Total Purchase Value", ascending=False)
SN_df["Average Purchase Price"] = SN_df["Average Purchase Price"].map("${:.2f}".format)
SN_df["Total Purchase Value"]= SN_df["Total Purchase Value"].map("${:.2f}".format)
SN_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [401]:
purchase_by_item_sum=df.groupby(["Item ID","Item Name"]).sum()["Price"]
# purchase_by_item_sum

In [402]:
purchase_by_item_count=df.groupby(["Item ID","Item Name"]).count()["Price"]
# purchase_by_item_count
# merge_table = pd.merge(purchase_by_item_count,df, on="Item ID")
# merge_table
# purchase_by_item_count=merge_table[""]

In [403]:
purchase_by_item_pr=df.groupby(["Item ID","Item Name"])
va=purchase_by_item_pr.first()
dl=va["Price"]
# print(dl)

In [404]:
total_value_per_item=purchase_by_item_sum*purchase_by_item_count
# total_value_per_item

In [405]:
df_item_analysis=pd.DataFrame({"Purchase Count":purchase_by_item_count,
                               "Item Price":dl,
                              "Total Purchase Value":purchase_by_item_sum
                              })
# df_item_analysis
# df_item_analysis_merge=pd.merge(df_item_analysis, df, on="Item ID",how="right")
# df_item_analysis

In [406]:
df_item_analysis=df_item_analysis.sort_values("Purchase Count", ascending=False)
# df_item_analysis.head()

In [408]:
df_item_analysis["Item Price"]=df_item_analysis["Item Price"].astype(float)
df_item_analysis["Total Purchase Value"]=df_item_analysis["Total Purchase Value"].astype(float)
# df_item_analysis
# df['DataFrame Column'] = df['DataFrame Column'].astype(float)

In [409]:
df_item_analysis=df_item_analysis.sort_values("Purchase Count", ascending=False)
# df_item_analysis.head()

In [410]:
df_item_analysis_2=df_item_analysis.sort_values("Total Purchase Value", ascending=False)
# df_item_analysis_2.head()

In [411]:
df_item_analysis["Item Price"] = df_item_analysis["Item Price"].map("${:.2f}".format)
df_item_analysis["Total Purchase Value"] = df_item_analysis["Total Purchase Value"].map("${:.2f}".format)
df_item_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
60,Wolf,8,$3.54,$28.32

In [412]:
df_item_analysis_2["Item Price"] = df_item_analysis_2["Item Price"].map("${:.2f}".format)
df_item_analysis_2["Total Purchase Value"] = df_item_analysis_2["Total Purchase Value"].map("${:.2f}".format)
df_item_analysis_2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80