In [1]:
# reads in excel file containing purchase data

import numpy as np
import pandas as pd
csv_file="..\\Purchase Data\\purchase_data.csv"
df=pd.read_csv(csv_file)

In [2]:
# PLAYER COUNT

# creates new dataframe that selects SN, 
# Age,and Gender columns
# drops duplicate rows
# counts number of unique rows
# which is equivalent to the number of
# video game players
# creates a dataframe containing the
# number of unique players

df1=df.loc[:,["SN","Age","Gender"]]
df1=df1.drop_duplicates()
total_players=df1.count()[0]
print(total_players)
df_unique_players=pd.DataFrame({"total_players":[total_players]})
df_unique_players

576

   total_players
0            576

In [3]:
# gets the number of unique items
# in the item id column 
# and stores to a variable

number_of_unique_items=len(df["Item ID"].unique())

# gets the average purchase price
# by using the mean function
# and stores it to a variable
# rounds the avg purchase price
# and converts to a string to include 
# the $ sign

average_purchase_price=df["Price"].mean()
aver=np.round(average_purchase_price, decimals=2)
average_purch="$"+str(aver)

# gets the total number of purchases
# by using the length of the dataframe

total_number_purchases=len(df)

# gets the total revenue by
# summing up the Price column
# converts the float value to a string
# to include the $ sign

total_revenue=df["Price"].sum()
total_rev="$"+str(total_revenue)

In [4]:
# PURCHASING ANALYSIS(Total)

# takes variables containing stats
# and places them into a dataframe
# dataframe reports on:

# 1). Number of Unique Items
# 2). Average Purchase Price
# 3). Total Number of Purchases
# 4). Total Revenue


frame_df = pd.DataFrame({
    "Number of Unique Items": [(number_of_unique_items)],
    "Average Purchase Price": [(average_purch)],
    "Total Number of Purchases":[(total_number_purchases)],
    "Total Revenue":[(total_rev)]
    
    
})
frame_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [5]:
# Gets the percentage of men in the dataset
# By filtering the dataframe to only men
# Dividing by the length of the entire dataframe
# And multiplying by 100

only_men = df1.loc[df["Gender"] == "Male", :]
percentage_only_men=np.round(len(only_men)/len(df)*100,decimals=2)

# Gets the percentage of women in the dataset
# By filtering the dataframe to only women
# Dividing by the length of the entire dataframe
# And multiplying by 100

only_women=df1.loc[df["Gender"]== "Female", :]
percentage_only_women=np.round(len(only_women)/len(df)*100,decimals=2)


# Gets the percentage of nondisclosed genders in the dataset
# By filtering the dataframe to only other/non-disclosed
# Dividing by the length of the entire dataframe
# And multiplying by 100

other=df1.loc[df["Gender"]== "Other / Non-Disclosed", :]
percentage_other_non_disclosed=np.round(len(other)/len(df)*100,decimals=2)

In [6]:
# GENDER DEMOGRAPHICS

# Takes variables containing gender stats info
# And places them into a dataframe
# Dataframe reports on:

# 1).Count and percentage of male players
# 2).Count and percentage of female players
# 3).Count and percentage of other/non-disclosed

gender_df = pd.DataFrame(
    {"Gender": ["Male", "Female","Other / Non-Disclosed"],
     "Total Count": [len(only_men), len(only_women),len(other)],
     "Percentage": [str(percentage_only_men)+"%",str(percentage_only_women)+"%",str(percentage_other_non_disclosed)+"%"]}
)

# Resets index for desired display

reindexed_df = gender_df.set_index("Gender")
reindexed_df.head()

                       Total Count Percentage
Gender
Male                           484     62.05%
Female                          81     10.38%
Other / Non-Disclosed           11      1.41%

In [7]:
# PURCHASING ANALYSIS (GENDER)
# Dataframe reports on:
# Purchase count by gender
# Average purchase price by gender
# Total purchase value by gender
# Average purchase total by gender


# Groups the dataframe by gender
# to count the number of purchases
# by gender

total_count=df.groupby(["Gender"]).count()["Price"]
total_count

# Groups the dataframe by gender
# to get the average purchase price
# by gender


avg_price_gender=df.groupby(["Gender"]).mean()["Price"]


# Groups the dataframe by gender
# to get the total purchase price
# by gender

total_price_gender=df.groupby(["Gender"]).sum()["Price"]

# Divides the total price by gender by
# the total count per gender
# to get the average total value per person

price_per_person=total_price_gender/reindexed_df["Total Count"]
price_per_person

# Takes the statistics calculated above
# Places them in a dataframe and maps
# monetary amounts to the $ sign and rounds
# to the two nearest decimals

df_purchase_analysis=pd.DataFrame({"Purchase Count":total_count,"Average Purchase Price":avg_price_gender,
                                   "Total Purchase Value":total_price_gender,"Avg Total Purchase per Person":price_per_person})

df_purchase_analysis["Average Purchase Price"] = df_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
df_purchase_analysis["Total Purchase Value"] = df_purchase_analysis["Total Purchase Value"].map("${:.2f}".format)
df_purchase_analysis["Avg Total Purchase per Person"] = df_purchase_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
df_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [8]:
# Establishes bins and labels for age analysis
# Assigns to variables

age_demo= [0,9,14,19,24,29,34,39,100]
names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [9]:
# Assigns age_demo and names to df1

df1["Age Summary"] = pd.cut(df1["Age"],age_demo,labels=names)

In [10]:
# Groups df1 by Age

age_counts =df1.groupby(["Age Summary"])
age_counts.count()

# Groups the total count of players by age

age_counts_df=age_counts[["SN"]]
ak=age_counts_df.count()
print(ak)

# Gets the percentage of players by age
# By dividing the total number of players in
# Each group by the total in the dataframe
# Multiplies by 100


ak3=ak["SN"]/len(df1)*100
print(ak3)

              SN
Age Summary
<10           17
10-14         22
15-19        107
20-24        258
25-29         77
30-34         52
35-39         31
40+           12
Age Summary
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [11]:
# Creates a new dataframe
# That combines the total count per age bin
# By percentage of players in that age bin

merge_table = pd.merge(ak, ak3, on="Age Summary")

In [12]:
# Renames and formats columns

renamed_merge=merge_table.rename(columns={"SN_x":"Total Count", "SN_y":"Percentage of Players"})
renamed_merge
renamed_merge["Percentage of Players"] = renamed_merge["Percentage of Players"].map("{0:.2f}%".format)
renamed_merge

             Total Count Percentage of Players
Age Summary
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

In [13]:
# Merges df1 to df for more data needed
# To conduct analysis

merge_table_3 = pd.merge(df, df1, on="SN")

In [14]:
# Gets the average purchase price by age bin

purchase_by_group_mean=merge_table_3.groupby(["Age Summary"]).mean()["Price"]

In [15]:
# Gets the total purchase value by age bin

purchase_by_group_sum=merge_table_3.groupby(["Age Summary"]).sum()["Price"]

In [16]:
# Gets the number of purchases by age bin

purchase_by_group_count=merge_table_3.groupby(["Age Summary"]).count()["Price"]

In [17]:
# Gets the total purchase value by age bin and divides by total number of players in each bin 
# To attain the average total purchase per person

price_per_age=np.round(purchase_by_group_sum/renamed_merge["Total Count"],decimals=2)

In [18]:
# AGE DEMOGRAPHICS

# Takes variables containing age stats info
# And places them into a dataframe
# Dataframe reports on:

# 1).Purchase count by age bin
# 2).Average purchase price by age bin
# 3).Total purchase value by age bin
# 4).Average purchase total per person by age bin


df_age_analysis=pd.DataFrame({"Purchase Count":purchase_by_group_count,"Average Purchase Price":purchase_by_group_mean,
                                   "Total Purchase Value":purchase_by_group_sum,"Avg Total Purchase per Person":price_per_age})

df_age_analysis["Average Purchase Price"] = df_age_analysis["Average Purchase Price"].map("${:.2f}".format)
df_age_analysis["Total Purchase Value"]=df_age_analysis["Total Purchase Value"].map("${:.2f}".format)
df_age_analysis["Avg Total Purchase per Person"]=df_age_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
df_age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [19]:
# Gets the number of purchases by SN

purchase_by_SN_count=df.groupby(["SN"]).count()["Price"]

In [20]:
# Gets the average purchase price by SN

purchase_by_SN_mean=df.groupby(["SN"]).mean()["Price"]

In [21]:
# Gets the total purchase value by SN

purchase_by_SN_sum=df.groupby(["SN"]).sum()["Price"]

In [22]:
# Takes variables containing SN stats info
# And places them into a dataframe

df_SN_analysis=pd.DataFrame({"Purchase Count":purchase_by_SN_count,"Average Purchase Price":purchase_by_SN_mean,
                                   "Total Purchase Value":purchase_by_SN_sum})

In [23]:
# dataframe is sorted by the total purchase value-desc
# to get the top 5 spenders
# column values are rounded to two decimals
# and mapped to include the $ symbol


# TOP SPENDERS
# Dataframe reports on:

# 1).The SN of the spender
# 2).The total number of purchases by SN
# 3).The average purchase price by SN
# 4).The total purchase value by SN



SN_df =df_SN_analysis.sort_values("Total Purchase Value", ascending=False)
SN_df["Average Purchase Price"] = SN_df["Average Purchase Price"].map("${:.2f}".format)
SN_df["Total Purchase Value"]= SN_df["Total Purchase Value"].map("${:.2f}".format)
SN_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [24]:
# Gets the total amount earned by item

purchase_by_item_sum=df.groupby(["Item ID","Item Name"]).sum()["Price"]

In [25]:
# Gets the count of items purchased

purchase_by_item_count=df.groupby(["Item ID","Item Name"]).count()["Price"]

In [26]:
# groups the dataframe by item
# gets a distinct list of items and their price

purchase_by_item_pr=df.groupby(["Item ID","Item Name"])
va=purchase_by_item_pr.first()
dl=va["Price"]

In [27]:
# gets the total revenue accrued by item

total_value_per_item=purchase_by_item_sum*purchase_by_item_count

In [28]:
# Creates a dataframe that holds the total purchase count by item,
# item price, and total purchase value

df_item_analysis=pd.DataFrame({"Purchase Count":purchase_by_item_count,
                               "Item Price":dl,
                              "Total Purchase Value":purchase_by_item_sum
                              })

In [29]:
# Sorts the dataframe by the highest number of purchases

df_item_analysis=df_item_analysis.sort_values("Purchase Count", ascending=False)

In [30]:
# Formats the datatypes of columns below to float

df_item_analysis["Item Price"]=df_item_analysis["Item Price"].astype(float)
df_item_analysis["Total Purchase Value"]=df_item_analysis["Total Purchase Value"].astype(float)

In [31]:
# Sorts the dataframe by the highest number of purchases

df_item_analysis=df_item_analysis.sort_values("Purchase Count", ascending=False)

In [32]:
# Creates a new dataframe based off of the same data in df_item_analysis
# That identifies the highest revenue items

df_item_analysis_2=df_item_analysis.sort_values("Total Purchase Value", ascending=False)

In [33]:
# Formats columns in the dataframe by rounding to two decimals and adding a
# $ symbol 

# MOST POPULAR ITEMS
# Dataframe reports on the 5 most popular items:

# 1).The item ID
# 2).The item name
# 3).The number of purchases
# 4).The item price
# 5).Total cash accrued by item


df_item_analysis["Item Price"] = df_item_analysis["Item Price"].map("${:.2f}".format)
df_item_analysis["Total Purchase Value"] = df_item_analysis["Total Purchase Value"].map("${:.2f}".format)
df_item_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
60,Wolf,8,$3.54,$28.32

In [34]:
# Formats columns in the dataframe by rounding to two decimals and adding a
# $ symbol 

# MOST POPULAR ITEMS
# Dataframe reports on the 5 highest revenue generating items:

# 1).The item ID
# 2).The item name
# 3).The number of purchases
# 4).The item price
# 5).Total cash accrued by item

df_item_analysis_2["Item Price"] = df_item_analysis_2["Item Price"].map("${:.2f}".format)
df_item_analysis_2["Total Purchase Value"] = df_item_analysis_2["Total Purchase Value"].map("${:.2f}".format)
df_item_analysis_2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80